<!-- Footer -->
<!-- Footer -->
<footer class="page-footer footer font-small pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h5>The Yao Framework</h5>
        <p>Extensible Efficient Quantum Algorithm Design For Humans.</p>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Resources</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Tutorial</a>
          </li>
          <li>
            <a href="#!">Docs</a>
          </li>
          <li>
            <a href="https://github.com/QuantumBFS/Yao.jl/issues">Github Issues</a>
          </li>
          <li>
            <a href="slackinvite.julialang.org">Slack</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
</footer>
<!-- Footer -->
{% include footer_scripts.html %}
