<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark container lighter">
    <a class="navbar-brand" href="/">
      <div class="logo" style="font-size:30pt;margin-top:-15px;margin-bottom:-10px;">flux</div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/experiments">Experiments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Flux.jl">Docs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gsoc.html">GSoC</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://discourse.julialang.org/c/domain/ML">Discuss</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/FluxML/Flux.jl">Source</a>
        </li>
      </ul>
    </div>
  </nav>