html {
    font-family: Helvetica, Arial, sans-serif;
}

.page {
    min-height:100%;
    position:relative;
    padding-top:100px;
    padding-bottom:200px;
    padding-left: 100px;
    padding-right: 100px;
}
