.jumbotron {
    margin-bottom: 0;
    position: relative;
    border-bottom: 1px thick;
    background-color: #2b5797;
}

.jumbotron .container {
    max-width: 750px;
    box-shadow: 2px;
    position: relative;
    padding: none;
    padding-top: 32px;
    text-align: center;
    color: white;
}

/* .container h1 {
    font-family: lato;
    font-style: italic;
    color: white;
}

.container h2 {
    font-family: lato;
    font-style: italic;
    color: white;
} */

.features {
    padding-top: 2em;
    padding-bottom: 2em;
}

.features p {
    color: gray;
}

.quick-start {
    background-color: #EEEEEE;
    padding-top: 2em;
    padding-bottom: 2em;
}

/* .quick-start code {
    padding: 0.5em;
    display: block;
    background-color: lightgray;
    overflow-x: auto;
    font-size: 1em;
    border-radius: 3px;
} */

.quick-start pre {
    border: 1px solid #dddddd;
    white-space: normal;
    background-color: lightgray;
    padding: 0.5em;
    overflow: auto;
    font-size: 0.9em;
    margin: 1em 0px;

    font-weight: 400;
    vertical-align: middle;
}

.discuss {
    padding-top: 2em;
    padding-bottom: 2em;
}

.footer {
    margin-top: 40px;
    background-color: #2b5797;
    color: white;
}

.footer a {
    color: lightgray;
}

.footer a:hover {
    color: #EEEEEE;
    text-decoration: none !important; 
}

.page-container {
    margin: 100px auto;
    max-width: 600px;
    text-align: center;
  }
  
.page-container h1 {
    margin: 200px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
}

.research-container {
    margin: 100px auto;
    max-width: 1000px;
    text-align: left;
}

.research-container h2 {
    padding-bottom: 20px;
}

.research-container li {
    padding-bottom: 1em;
}

#override-documenter .docs-sidebar ul.docs-menu {
    flex-grow: 0 !important;
}

.organizations {
    padding-top: 2em;
    padding-bottom: 2em;
}

.organizations h3 {
    color: gray;
}